name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag app


    - name: Push the Docker image to the registry
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker tag app ${{ secrets.DOCKER_USERNAME }}/app
        docker push ${{ secrets.DOCKER_USERNAME }}/app
      
    - name: Run the Docker image
      run: docker run -d -p 8000:80 ${{ secrets.DOCKER_USERNAME }}/app


# name: Docker Image CI

# on:
#   push:
#     branches: [ main ]

# jobs:

#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2

#     - name: Log in to DockerHub
#       uses: docker/login-action@v1 
#       with:
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}

#     - name: Build and push Docker image
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         push: true
#         tags: ${{ secrets.DOCKER_USERNAME }}/pipeline:tag-name
